/*background als bild + gradient*/
body {
  min-height: 100vh;
  color: var(--ink);
  font-family: system-ui, Arial, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("znydz0y4tn1b1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /*hintergrundbild bewegt sich nicht */
}

header {
  width: 425px;
}

.btn {
  display: inline-block;
  padding: rem 0.9rem;
  border-radius: px;
  background: #000000;
  color: white;
  text-decoration: none; /* macht kein unterstrich unter dem wort */
  cursor: pointer;
}

nav a.btn {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #140101;
}

.btn:hover {
  filter: brightness(1.08);
}

.btn:active {
  transform: translateY(1px);
}

.lyrics {
  white-space: pre-line;
}

/* style */

:root {
  --bg: #0b1200;
  --ink: #eaf0ff;
  --muted: #a6b3d0;
  --line: #233156;
  --card: #11182d;
  --accent: #6aa0ff;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

header,
main {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 9px;
  padding: 16px;
  margin: 16px 0;
}

header img {
  width: 64px;
  height: 64px;
  vertical-align: middle;
}

nav {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 8px;
}
nav a {
  color: #a8c6ff;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
  border: 1px solid var(--line);
}
nav a:hover {
  background: rgba(255, 255, 255, 0.06);
}
h1,
p,
a {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* lists ohne bullet*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* animation without lags */
.btn {
  will-change: transform, opacity;
}
.btn {
  transform: translateZ(0);
}

/*.albums {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("Sleep\ Token\ \ Official\ Merchandise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px auto;
    background-attachment: fixed;
}